html{  min-height: 100vh;} 

:root {
background-color: #12022b;
background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23202a60' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
      font-family: 'Hachi Maru Pop', cursive, sans-serif;
    /* font-family: 'Yusei Magic', sans-serif; */
    background-color: var(--background-color);
    background-image: var(--background-image);
}


/* overlay */
.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: purple;
  cursor: pointer;

}

.overlay-text-second {
  font-size: .3em;
}

.overlay-text.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 600ms forwards;
  
}

 @keyframes overlay-grow {
  0% {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  100% {
    background-color: rgba(0, 0, 0, .9);
    font-size: 7em;
  } 
}






/* ------navbar */

.navbar-nav .nav-link {
    margin: 10px 10px;

}

nav a {
    font-size: 2em;
}

.navbar-brand {
    font-size: 1.7em;
    font-family: 'Hachi Maru Pop', cursive;
}

.navbar-background{
    background-color: #9c9fb39a;
}


#main-section {
 perspective: 2000px;
}

/* -------------------------------IMAGES----------------------------------- */

img {
    width: 220px;
}
#memory-main-container {
    height: 460px; 
    width: 690px;
    display: flex;
    flex-wrap: wrap;
    margin: auto; 
    /* position: fixed; */
}

.memory-card {
    position: relative;
    width: 16.66666666666666666%;   
    height: 20%;
    transform: scale(1);
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.3s;
}

.memory-card:active{
    transform: scale(0.95); 
    transition: transform .1s;
}

/* When toggled (flipped), the card will rotate Y axe for 180deg */
.memory-card.flip{
    transform: rotateY(180deg);
}

.front-face{
    border: 2px ridge white;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.back-face {
    border: 2px ridge white;
    position: absolute;
    backface-visibility: hidden;
}



.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}


.game-info {
    color: white;
    font-size: 2em;
}



    .game-container {
      
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
  
        width: 90%;
    } 

/* ------------------------MEDIA QUERIES----------------- */

@media (max-width: 1366px) and (min-width: 1201px){   
    .game-container {
        position: absolute;
        margin-top: 20px;
        margin-left: 320px;
        margin-right: 50px;
        /* margin-left: 0;
        margin-right: 0; */
        z-index: 25;
        width: 50%;
    } 
}
@media (max-width: 1200px) and (min-width: 992px){   
    .game-container {
        position: absolute;
        margin-top: 20px;
        margin-left: 300px;
        margin-right: 30px;
        /* margin-left: 0;
        margin-right: 0; */
        z-index: 25;
        width: 62%;
    } 
}
  /* <div class="game-container">
    <div class="game-info-container">
      <div class="game-info">
        Time <span id="time-remaining">100</span>
      </div>
      <div class="game-info">
        Flips <span id="flips">0</span>
      </div>
    </div> */


/* Medium devices (tablets, 768px and up) */
@media (max-width: 991px) and (min-width: 768px) {
    body{
        display: block;
    }

    #memory-main-container {
        margin-top: 45px;
    } 
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) and (min-width: 576px){
    body{
        display: block;
    }

    #memory-main-container {
        margin-top: 80px;
        height: 360px;
        width: 540px;
    } 
}
 
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    body{
        display: block;
    }

    #memory-main-container {
        margin-top: 45px;
        height: 450px;
        width: 300px;
    } 
    .memory-card {
        position: relative;
        width: 25%;   
        height: 16.6666%;
    } 

}