body {
    background-color: #dfdbe5;
        background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%239c92ac' fill-opacity='0.5' fill-rule='evenodd'/%3E%3C/svg%3E");
    height: 100vh;
    font-family: 'Hachi Maru Pop', cursive, sans-serif;
    /* font-family: 'Yusei Magic', sans-serif; */
    margin: 0px;
    position: relative;
} 



/* navbar  */
.navbar-nav .nav-link {
    margin: 10px 10px;
}

.navbar-expand-lg {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 80px;
}

nav a {
    font-size: 1.2em;
}

/* For smaller devices: */
/* .navbar-light .navbar-toggler{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
} */


/* Play button */
#playbutton {
    margin: auto;
    z-index: 10;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Central container */
.main-container {
    padding: 15px 0px;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row-container {
    margin: 0px;
}

.play-game-container {
    width: 100%;
    padding-top: 10px;
    margin: 0;
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
}

.play-game-button {
    text-align: center;
    justify-content: center;
    padding: 4px 10px;
    font-size: 25px;
    border: 1px solid grey;
    z-index: 200;
}

.background-photo{
    width: 100%;
    max-height: 370px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin: 0 auto;
    opacity: 0.8;
}



/*  ------------------------------FOOTER-----------------------------------  */
footer {
    background-color: #35156d;
    color: white;
    min-height: 50px;
    margin: 0;
    text-align: center;
    font-size: 15px;
    padding-top: 20px;
    font-family: 'Yusei Magic', sans-serif;
    position: absolute;
    bottom: 0;
}

.copyright-text {
    font-size: 13px;
}


/* Light-dark mode toggle  */
.theme-switch-wrapper {
  display: flex;
  z-index: 10;
  position: fixed;
  right: 50px;
  top: 20px;
}

.theme-switch-wrapper span {
  margin-right: 10px;
  font-size: 1.5rem;
}

.toggle-text {
  position: relative;
  font-size: 2em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #80dfd89e;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #755ba4;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(11, 33, 51);;
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(11, 33, 51);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.fas {
  font-size: 30px;
  margin-right: 5px;
} 