
/* -------------------------------GAME PLAY----------------------------------- */

.game-body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

/* #main-section {

} */
/* -------------------------------IMAGES----------------------------------- */

img {
    width: 200px;
}

#main-section {
    background-color: darksalmon;
    height: 340px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.memory-card {
    position: relative;
    width: 16.6666%;   
    height: 20%;  
   
}
.front-face{
    /* border: 2px solid yellow; */
    position: absolute;
}

.back-face {
    /* border: 2px solid orange; */
    position: absolute;
     border: 1px solid darkcyan;
}  

/* .footer-game-container {
    position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
} */









/* ------------------------MEDIA QUERIES-----------------

/* Large devices (desktops, 992px and up) */
/* @media (max-width: 1200px) and (min-width: 992px){   
    
    img {
    width: 137px;
}

    .memory-board-container {
        padding-left: 10%;
        padding-right: 10%;
        
        } */

/* Medium devices (tablets, 768px and up) */
/* @media (max-width: 991px) and (min-width: 768px) {
  img {
    width: 115px;
}

    .memory-board-container {
        padding-left: 5%;
        padding-right: 5%;
        }
} */
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) and (min-width: 576px){


  img {
    width: 100px;
}

    .memory-board-container {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 40px; 
        }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {

    body{
   margin-left: none;
    margin-right: none;
}
/* #main-section {
    height: 80vh;
    border: 4px solid black;
    overflow: hidden;
    margin-top: 20%;
} */
     img {
    width: 70px;
}

.memory-board-container {
    background-color: #5265d1;
    height: 70vh;
    padding-left: none;
    padding-right: none;
  
    
}

} 